Repository kurczakooo/e-fakturki: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy-backend, eslint-frontend, prettier-frontend

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
    - repo: local
      hooks:
          # ---------- BACKEND ----------
          - id: ruff-format-backend
            name: Ruff format (backend)
            entry: uv run ruff format
            language: system
            pass_filenames: false
            always_run: true
            files: ^apps/backend/

          - id: ruff-backend
            name: Ruff check (backend)
            entry: uv run ruff
            language: system
            pass_filenames: false
            always_run: true
            args: ['check', 'apps/backend', 'tests']
            files: ^apps/backend/

          - id: mypy-backend
            name: MyPy validate types (backend)
            entry: uv run mypy
            language: system
            types: [python]
            pass_filenames: false
            args:
                - 'apps/backend'
                - 'tests'
            files: ^apps/backend/

          # ---------- FRONTEND ----------
          - id: eslint-frontend
            name: ESLint (frontend)
            entry: npm run lint
            language: system
            files: ^apps/frontend/

          - id: prettier-frontend
            name: Prettier (frontend)
            entry: npm run format
            language: system
            files: ^apps/frontend/

updated product model to include category_id field
  apps/backend/backend/db/models/products.py
Due: mypy-backend

updated schemas for product endpoint, updated pre-config
  .pre-commit-config.yaml
  apps/backend/backend/web/api/products/schemas.py
  apps/backend/backend/web/api/products/views.py
Due: mypy-backend

updated README.md
  README.md
Due: none

added prototype categories endpoint and schemas
  apps/backend/backend/db/__init__.py
  apps/backend/backend/web/api/categories/__init__.py
  apps/backend/backend/web/api/categories/schemas.py
  apps/backend/backend/web/api/categories/services.py
  apps/backend/backend/web/api/categories/views.py
  apps/backend/backend/web/api/router.py
Due: mypy-backend

updated pre-config
  .pre-commit-config.yaml
Due: none

adapted editor config for frontend
  .editorconfig
Due: none

adapted gitignore for frontend
  .gitignore
Due: none

added frontend configuration, cd and boilerplate for developement
  apps/frontend/README.md
  apps/frontend/eslint.config.js
  apps/frontend/index.html
  apps/frontend/package-lock.json
  apps/frontend/package.json
  apps/frontend/src/App.vue
  apps/frontend/src/components/TempComponent.vue
  apps/frontend/src/main.ts
  apps/frontend/src/style.css
  apps/frontend/tsconfig.app.json
  apps/frontend/tsconfig.json
  apps/frontend/tsconfig.node.json
  apps/frontend/vite.config.ts
Due: eslint-frontend, prettier-frontend

added directory for domain level utilities
  apps/backend/backend/domain/__init__.py
  apps/backend/backend/domain/xml/__init__ .py
  apps/backend/pyproject.toml
Due: mypy-backend

modified .gitignore
  .gitignore
Due: none

added a directory for creating ksef integation services
  apps/backend/backend/services/ksef/__init__.py
Due: mypy-backend

gitignore update, template for invoice endpoint
  .gitignore
  apps/backend/backend/web/api/invoices/__init__.py
  apps/backend/backend/web/api/invoices/services.py
Due: mypy-backend

installed primeui, tanstack query
  apps/frontend/package-lock.json
  apps/frontend/package.json
Due: eslint-frontend, prettier-frontend

initialized prime vue styling
  apps/frontend/src/main.ts
  apps/frontend/src/style.css
Due: eslint-frontend, prettier-frontend

added a template for ksef auth implementation
  apps/backend/backend/services/ksef/auth/__init__.py
  apps/backend/backend/services/ksef/auth/certificate_auth.py
Due: mypy-backend

implemented functions to authorize KSeF with certificates, updated pyproject.toml
  apps/backend/backend/services/ksef/__init__.py
  apps/backend/backend/services/ksef/auth/__init__.py
  apps/backend/backend/services/ksef/auth/certificate_auth.py
  apps/backend/pyproject.toml
  apps/backend/uv.lock
Due: mypy-backend

created a db schema for xml snapshots
  apps/backend/backend/db/models/invoice_xml_snapshots.py
Due: mypy-backend

created a db schema for ksef certificates
  apps/backend/backend/db/models/ksef_credentials.py
Due: mypy-backend

implemented functions to handle ksef session
  apps/backend/backend/services/ksef/auth/ksef_session.py
Due: mypy-backend

implemented functions for single invoice upload to ksef
  apps/backend/backend/services/ksef/invoicing/__init__.py
  apps/backend/backend/services/ksef/invoicing/upload.py
Due: mypy-backend

implemented module for companies daos
  apps/backend/backend/db/models/dao/companies_dao.py
Due: mypy-backend

initialized views module for ksef
  apps/backend/backend/web/api/ksef/__init__.py
  apps/backend/backend/web/api/ksef/schemas.py
Due: mypy-backend

implemented post_ksef_certificates endpoint and helper functions
  apps/backend/backend/web/api/ksef/services.py
  apps/backend/backend/web/api/ksef/views/post_ksef_certificates.py
Due: mypy-backend

implemented post_single_invoice endpoint, with helper functions, and adapted the routes for the new ksef enpoints
  apps/backend/backend/web/api/ksef/views/__init__.py
  apps/backend/backend/web/api/ksef/views/post_single_invoice.py
  apps/backend/backend/web/api/router.py
Due: mypy-backend

frontend setup and initialization
  apps/frontend/package-lock.json
  apps/frontend/package.json
  apps/frontend/src/App.vue
  apps/frontend/src/components/TempComponent.vue
  apps/frontend/src/main.ts
  apps/frontend/src/style.css
Due: eslint-frontend, prettier-frontend

added initial logo component and app top bar
  apps/frontend/src/App.vue
  apps/frontend/src/components/AppLogo.vue
  apps/frontend/src/components/TopBar.vue
Due: eslint-frontend, prettier-frontend

added router navigation with left menu drawer
  apps/frontend/package-lock.json
  apps/frontend/package.json
  apps/frontend/src/App.vue
  apps/frontend/src/components/LeftMenu.vue
  apps/frontend/src/main.ts
  apps/frontend/src/router/index.ts
Due: eslint-frontend, prettier-frontend

added template views
  apps/frontend/src/views/CompaniesView.vue
  apps/frontend/src/views/NewInvoiceView.vue
  apps/frontend/src/views/ProductsView.vue
  apps/frontend/src/views/PurchasesView.vue
  apps/frontend/src/views/SalesView.vue
  apps/frontend/src/views/SettingsView.vue
Due: eslint-frontend, prettier-frontend

merge branch commit
  apps/frontend/package-lock.json
  apps/frontend/package.json
  apps/frontend/src/App.vue
  apps/frontend/src/assets/mock_invoices.ts
  apps/frontend/src/components/InvoicesTable.vue
  apps/frontend/src/components/dialogs/InvoiceDetails.vue
  apps/frontend/src/components/dialogs/KsefCredsDialog.vue
  apps/frontend/src/components/dialogs/LoginDialog.vue
  apps/frontend/src/components/dialogs/MyCompanyDialog.vue
  apps/frontend/src/main.ts
  apps/frontend/src/style.css
Due: eslint-frontend, prettier-frontend

added hints for invoice statuses in invoice table, changed the invoices schema
  apps/frontend/src/assets/mock_invoices.ts
  apps/frontend/src/main.ts
Due: eslint-frontend, prettier-frontend

slight style change to top bar
  apps/frontend/src/components/TopBar.vue
Due: eslint-frontend, prettier-frontend

move InvoiceTable to a new dir
  apps/frontend/src/components/InvoicesTable.vue
Due: eslint-frontend, prettier-frontend

added status icons in the invoiceTable, styled the table, added new invoice flag, added payment status tag and made it editable
  apps/frontend/src/components/invoices/InvoicesTable.vue
  apps/frontend/src/views/SalesView.vue
Due: eslint-frontend, prettier-frontend

initial create user dialog
  apps/frontend/src/components/dialogs/LoginDialog.vue
Due: eslint-frontend, prettier-frontend

initial add company dialog
  apps/frontend/src/components/dialogs/AddCompanyDialog.vue
  apps/frontend/src/components/dialogs/MyCompanyDialog.vue
Due: eslint-frontend, prettier-frontend

add payment type to invoices table
  apps/frontend/src/assets/mock_invoices.ts
  apps/frontend/src/components/invoices/InvoicesTable.vue
Due: eslint-frontend, prettier-frontend

color fix in app logo
  apps/frontend/src/components/AppLogo.vue
Due: eslint-frontend, prettier-frontend

resolver fix in login dialog
  apps/frontend/src/components/dialogs/LoginDialog.vue
Due: eslint-frontend, prettier-frontend

styling change in add company dialog
  apps/frontend/src/components/dialogs/AddCompanyDialog.vue
Due: eslint-frontend, prettier-frontend
